<div class="root">
    <main>
        <h1>Mari memulai</h1>
        <a class="login-link" routerLink="/login">Sudah memiliki akun?</a>
        <section *ngIf="section == 0">
            <div class="section-content">
                <h2><b>Detail Akun</b> · Informasi Pribadi</h2>
                <label for="email">Alamat sur-el</label>
                <input type="email" id="email" [(ngModel)]="email" (input)="emailCheck()" placeholder="bagus.prstyo@contoh.com">
                <label for="password">Kata sandi</label>
                <input type="password" id="password" (input)="passwordCheck()" [(ngModel)]="password" placeholder="Admin#1234">
                <p *ngIf="showErrors && !emailValid" class="input-error">Alamat sur-el tidak valid.</p>
                <p *ngIf="showErrors && !passwordValid" class="input-error">Minimal 8 karakter dengan huruf kecil, huruf besar, angka, dan simbol.</p>
            </div>
            <div class="section-actions">
                <button class="submit-button" (click)="nextSection()">Lanjut</button>
            </div>
        </section>
        <section *ngIf="section == 1">
            <div class="section-content">
                <h2>Detail Akun · <b>Informasi Pribadi</b></h2>
                <label for="fullname">Nama Lengkap</label>
                <input type="text" id="fullname" [(ngModel)]="fullname" (input)="detailsCheck()" placeholder="Bagus Prasetiyo">
                <label for="gender">Jenis Kelamin</label>
                <span class="radio-container">
                    <input type="radio" value="1" [(ngModel)]="gender" (change)="detailsCheck()" name="gender">
                    <label for="male">Laki-laki</label>
                </span>
                <span class="radio-container">
                    <input type="radio" value="2" [(ngModel)]="gender" (change)="detailsCheck()" name="gender">
                    <label for="female">Perempuan</label>
                </span>
                <span class="radio-container">
                    <input type="radio" value="0" [(ngModel)]="gender" (change)="detailsCheck()" name="gender">
                    <label for="unspecified">Tidak menjawab</label>
                </span>
            </div>
            <div class="section-actions">
                <button class="back-button" (click)="prevSection()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
                    <line x1="19" y1="12" x2="5" y2="12"></line>
                    <polyline points="12 19 5 12 12 5"></polyline>
                </svg></button>
                <button class="submit-button" [disabled]="!detailsValid" (click)="register()">Daftar</button>
            </div>
        </section>
    </main>
</div>